{% extends 'base.html.twig' %}

{% block title %}Planning matchs{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-fluid mt-5 mb-5">

        <div class="container">
            <h3>Planning des matchs</h3>

            <table class="table table-striped mt-4 mb-5 border border-3">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Club à domicile</th>
                    <th scope="col">Equipe 1</th>
                    <th scope="col">Equipe 2</th>
                    <th scope="col">Vainqueur</th>
                    <th scope="col">Score</th>
                    <th scope="col">Durée</th>
                    <th scope="col" class="border border-1">Actions</th>
                </tr>
                </thead>
                <tbody>
                {# tri des matchs par date croissante #}
                {% set listeMatchs = listeMatchs|sort((a, b) => a.dateMatch > b.dateMatch ? 1 : -1) %}
                {% for match in listeMatchs %}
                    <tr>
                        <th>{{ match.getId }}</th>
                        <td>{{ match.getDateMatch.format('d-m-Y') }}</td>
                        <td>{{ match.getClub.nom }}</td>

                        {% set libelleEquipeVainqueur, nomClubEquipeVainqueur = '', '' %}
                        {% for equipe in match.getEquipes %}
                            {% if (match.getIdEquipeVainqueur != null) and (match.getIdEquipeVainqueur == equipe.getId) %}
                                {% set libelleEquipeVainqueur = equipe.getLibelle %}
                                {% set nomClubEquipeVainqueur = equipe.getClub.getNom %}
                            {% endif %}
                            <td>{{ equipe.getLibelle }} - {{ equipe.getClub.getNom }}</td>
                        {% endfor %}

                        {% if match.getIdEquipeVainqueur != '' %}
                            <td>{{ libelleEquipeVainqueur }} - {{ nomClubEquipeVainqueur }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}

                        {% if match.getScore != '' %}
                            <td>{{ match.getScore }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}

                        {% if match.getDuree != '' %}
                            <td>{{ match.getDuree.format('H:i:s') }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}

                        <td class="border border-1">
                            <a class="btn" style="background-color: #8eb1c7;"
                               role="button"><img src="{{ asset('images/modifier.png') }}"
                                                  width="" height="26px"></a>
                            <a class="btn" style="background-color: #C31B13;"
                               href="{{ path('app_match_volley_delete', {id : match.id}) }}"
                               role="button"><img src="{{ asset('images/supprimer.png') }}"
                                                  width="" height="26px"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Ajouter un match</h3>

            <form action="{{ path('app_planning_match') }}" method="post" style="width: 30%;">
                <div class="form-group mb-3">
                    <label for="dateMatch">Date du match</label>
                    <input type="date" class="form-control" id="dateMatch" name="formMatch[dateMatch]" required>
                </div>

                <div class="form-group mb-3">
                    <label for="idClub">Club</label>
                    <select class="form-control" id="idClub" name="formMatch[idClub]" required>
                        {% for club in listeClubs %}
                            <option value="{{ club.getId }}">{{ club.getNom }} {{ club.getVille }}</option>
                        {% endfor %}
                        <!-- Ajoutez d'autres options selon vos besoins -->
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="idEquipe1">Équipe 1</label>
                    <select class="form-control" id="idEquipe1" name="formMatch[idEquipe1]" required>
                        {% for equipe in listeEquipes %}
                            <option value="{{ equipe.getId }}">{{ equipe.getLibelle }} - {{ equipe.getClub.getNom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="idEquipe2">Équipe 2</label>
                    <select class="form-control" id="idEquipe2" name="formMatch[idEquipe2]" required>
                        {% for equipe in listeEquipes %}
                            <option value="{{ equipe.getId }}">{{ equipe.getLibelle }} - {{ equipe.getClub.getNom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="idEquipeVainqueur">Équipe Vainqueur</label>
                    <select class="form-control" id="idEquipeVainqueur" name="formMatch[idEquipeVainqueur]">
                        <option value="">--</option>
                        <option value="" class="text-warning">Match nul</option>
                        {% for equipe in listeEquipes %}
                            <option value="{{ equipe.getId }}">{{ equipe.getLibelle }} - {{ equipe.getClub.getNom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="score">Score</label>
                    <input type="text" class="form-control" id="score" name="formMatch[score]">
                </div>

                <div class="form-group mb-4">
                    <label for="duree">Durée (heures:minutes:secondes)</label>
                    <input type="text" class="form-control" id="duree" name="formMatch[duree]" pattern="\d{2}:\d{2}:\d{2}"
                           placeholder="HH:MM:SS">
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>

        </div>

    </div>
{% endblock %}
