{% extends 'base.html.twig' %}

{% block title %}Hello feminin{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div style="margin: 0 auto;
                    width: 60%;" class="text-center">
            <br>
            <h2>Sénior Féminin</h2>
            <img   alt="photo_equipe_senior" src="{{asset("images/senior_feminine.jpeg")}}" width="60%" height="5%">
            <br><br>

            <button type="button" class="btn btn-danger"  onclick="window.location.href ='{{asset("https://www.ffvbbeach.org/ffvbapp/resu/vbspo_calendrier.php?saison=2023/2024&codent=LIIDF&poule=RFB")}}';">Suivez le calendrier de nos séniors F</button>
            <br>
            <br><table class="table">
                <thead>
                <tr>

                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Age</th>
                    <th scope="col">Taille</th>
                    <th scope="col">Poste</th>
                </tr>
                </thead>
                <tbody>
                {% for joueur in joueurs %}
                    <tr>

                        <td>{{ joueur.nom }}</td>
                        <td>{{ joueur.prenom }}</td>
                        <td>{{ joueur.age }}</td>
                        <td>{{ joueur.taille }}</td>
                        <td>{{ joueur.poste }}</td>
                        <td>
                            <a class="btn btn-secondary"
                               role="button">Modifier
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger"
                               role="button">Supprimer
                            </a>
                        </td>

                    </tr>
                {% endfor %}


                </tbody>
            </table>


        </div>
    </div>
{% endblock %}